/* ------------------ */
/* ----- Desktop ----- */
/* ------------------ */


@media only screen and (min-width: 900px) {

    input[type="radio"] {
        visibility: hidden;
        margin-bottom: 5px;
    }

    input[type="radio"]+label {
        display: block;
        padding: 10px;
        text-align: center;
        margin: 10px auto;
        background-color: #606167;
        border-radius: 10px;
        color: white;
        width: 20%;
    }

    input[type="radio"]:checked+label {
        background-color: rgba(0, 83, 137, 1);
    }

    /*--- Sliders ---*/
    /*-- Webkit --*/
    .safari input[type="range"],
    .chrome input[type="range"],
    .opera input[type="range"] {
        -webkit-appearance: none;
        border-radius: 8px;
        height: 7px;
        border: 1px solid #bdc3c7;
        background-color: #fff;
        margin-top:10px;
    }
    .safari input[type="range"]::-webkit-slider-thumb,
    .chrome input[type="range"]::-webkit-slider-thumb,
    .opera input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;
    }

    /*-- Mozilla --*/

    .firefox input[type="range"]::-moz-range-track {
        border-radius: 8px;
        height: 7px;
        border: 1px solid #bdc3c7;
        background-color: #fff;
    }
    .firefox input[type="range"]::-moz-range-thumb {
        background: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;
    }

    /*-- Internet Explorer --*/
    .ie input[type="range"]::-ms-fill-lower,
    .ie input[type="range"]::-ms-fill-upper {
        background: transparent;
    }
    .ie input[type="range"]::-ms-track {
        border-radius: 8px;
        height: 7px;
        border: 1px solid #bdc3c7;
        background-color: #fff;
    }
    .ie input[type="range"]::-ms-thumb {
        background-color: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;
    }


    /*--- Button for the main questions ---*/
    input[type="submit"].questions {
        display:block;
        padding: 10px;
        margin: 10px auto;
        background-color: rgba(0, 83, 137, 1);
        border-radius: 10px;
        color: white;
        width: 20%;
    }

    /*--- Text styles ---*/
    .intro {
        margin-bottom: 20px!important;
    }

    label .intro{
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: small;
        text-align: center;
    }
}

/* ------------------ */
/* ----- Mobile ----- */
/* ------------------ */

@media only screen and (max-width: 899px) {

    input[type="radio"] {
        visibility: hidden;
        margin-bottom: 5px;
    }

    input[type="radio"]+label {
        display: block;
        padding: 10px;
        text-align: center;
        margin: 10px auto;
        background-color: #606167;
        border-radius: 10px;
        color: white;
        width: 40%;
        font-size: 18px;
        font-weight: bold;
    }
    input[type="radio"]:checked+label {
        background-color: rgba(0, 83, 137, 1);
    }

    /*--- Sliders ---*/
    /*-- Webkit --*/
    .safari input[type="range"],
    .chrome input[type="range"],
    .opera input[type="range"] {
        -webkit-appearance: none;
        border-radius: 8px;
        height: 12px;
        border: 1px solid #bdc3c7;
        background-color: #fff;
        margin-top:10px;
    }
    .safari input[type="range"]::-webkit-slider-thumb,
    .chrome input[type="range"]::-webkit-slider-thumb,
    .opera input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
    }

    /*-- Mozilla --*/

    .firefox input[type="range"]::-moz-range-track {
        border-radius: 8px;
        height: 12px;
        border: 1px solid #bdc3c7;
        background-color: #fff;
    }
    .firefox input[type="range"]::-moz-range-thumb {
        background: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
    }

    /*-- Internet Explorer --*/
    .ie input[type="range"]::-ms-fill-lower,
    .ie input[type="range"]::-ms-fill-upper {
        background: transparent;
    }
    .ie input[type="range"]::-ms-track {
        border-radius: 8px;
        height: 12px;
        border: 1px solid #bdc3c7;
        background-color: #fff;
    }
    .ie input[type="range"]::-ms-thumb {
        background-color: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
    }


    /*--- Button for the main questions ---*/
    input[type="submit"].questions {
        display:block;
        padding: 10px;
        margin: 10px auto;
        background-color: rgba(0, 83, 137, 1);
        border-radius: 10px;
        color: white;
        width: 20%;
    }

    /*--- Text styles ---*/
    .intro {
        margin-bottom: 20px!important;
        font-size: medium!important;
    }

    label .intro{
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: small;
        text-align: center;
    }
}





