/*--- Table style ---*/
table {
    margin-bottom: 100px;
}

.results  {
    width: 80%;
    border-collapse:collapse;
    border-spacing:0;
    border: 2px solid black;
    margin-left:auto!important;
    margin-right:auto!important;
}
.results td{
    font-family:Calibri, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border: 2px solid;
    overflow:hidden;
    word-break:normal;
}
.results th{
    font-family:Calibri, Helvetica, sans-serif !important;
    font-size: large;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding: 15px 5px;
    border: 2px solid;
    overflow: visible;
    word-break:normal;
    vertical-align:middle
}

img.partyLogo {
    margin:auto;
    height: 85px;
    width: auto;
    border: 0;
}

img.smallLogo {
    text-align: left;
    height: 40px;
    width: auto;
    border: 0;
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: small;
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

h3 {
    font-family: Helvetica, Calibri, sans-serif;
    font-size: x-large;
    font-weight: lighter;
    margin: 10px;
}