/* --- Form style --- */
.formstyle{
    max-width: 100%;
    padding: 0 12px 10px 0;
    font: 13px Arial, Helvetica, sans-serif;
}

.formstyle input.input-field,
.formstyle .tel-number-field,
.formstyle .textarea-field,
.formstyle .select-field{
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.formstyle input[type="submit"] {
    display: block!important;

}

.formstyle .username-field {
    margin-top: 5px;
    width: 150px;
}

input[type="submit"].function  {
    width: 100px!important;
    height: 28px!important;
    border-radius: 5px;
    padding: 2px;
    display: inline!important;
    background-color: rgba(0, 83, 137, 1);
    color: white;
    margin: 10px auto;
    font-size: small;
}