/*--- Base ---*/
html,body {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
    font-family: helvetica, "Trebuchet MS", sans-serif;
}

body {
    background-color: #E5F0F9;
}

a {
	text-decoration:none
}


/*--- Container --- */
@media only screen and (min-width: 900px) {
    div.container {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0;
        min-width: 800px;
        min-height: 600px;
    }
}

@media only screen and (max-width: 899px) {
    div.container {
        margin-top: 0;
        min-width: 360px;
        min-height: 640px;
    }
}

/*--- Banner ---*/

img {
	width:100%;
	position:relative;
}

div.banner {
	padding:0;
	display: inline-block;
    border: 0 solid black;
    margin-bottom: 0;
	width: 100%;
}

div.bannerImg {
	background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: inline-block;
    padding: 0;
}

/*--- Menu ---*/
@media only screen and (min-width: 900px) {
    .menu ul li a {
        font-family: helvetica, "Trebuchet MS", sans-serif;
        font-weight: bold;
        color:#FFFFFF;
        font-size:18px;
    }
}

@media only screen and (max-width: 899px) {
    .menu ul li a {
        font-family: helvetica, "Trebuchet MS", sans-serif;
        font-weight: bold;
        color:#FFFFFF;
        font-size:12px;
    }
}

.menu {
    background-color: rgba(0, 83, 137, 0.9);
    height: 45px;
}

.menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: inline-table;
}

.menu ul li {
    float: left;
    height:100%;
    padding:12px 0;
    width:25%;
    text-align:center;
    text-height:center;
}




/*--- Content ---*/
div.content {
	background-color: rgba(255, 255, 255, 0.7);
    border-top: 0;
	margin-top: -5px;
	margin-bottom: 20px;
	padding-bottom:10px;
	float:bottom;
	width:100%;
	
}
.content img {
	width:650px;
	height:500px;
	margin-left: 22%;
	border: 2px solid black;
}
.content p {
	text-align: center;
	font-size: small;
    margin: -4px 12px 8px 18px;
}
.content h1,h2 {
    font-family: helvetica, "Trebuchet MS", sans-serif;
	padding-top:30px;
	text-align: center;
	margin-top:-4px;
    font-weight: normal;
}

.content h2 {
	margin-top: 0;
    margin-bottom: 20px;
	border: 0;
    font-size: x-large;
}

input[type="text"].login{
    width: 150px;
}

input[type="password"].login {
    margin-top: 5px;
    width: 150px;
}

input[type="submit"].login {
    margin-top: 5px;
    margin-left: 75px;
}

hr.divider {
    color: rgba(0, 83, 137, 0.5);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 1px;
}

/*---Quickfixes---*/
.inline {
    display:inline-block!important;
}

.center {
    text-align: center!important;
}