html,body {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
    font-family: helvetica, "Trebuchet MS", sans-serif;
}

body {
    background-color: #E5F0F9;
    /*-background: url(../img/background.jpg) repeat fixed center; */
}

a {
	text-decoration:none
}

div.container {
	margin-left: 15%;
	margin-right:15%;
	margin-top:0;
	min-width: 800px;
	min-height: 600px;
}

img {
	width:100%;
	position:relative;
}

div.banner {
	padding:0;
	display: inline-block;
    border: 0 solid black;
    margin-bottom: 0;
	width: 100%;
}

div.bannerImg {
	background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: inline-block;
    padding: 0;
}


/*Content of the site*/
div.content {
	background-color: rgba(255, 255, 255, 0.7);
    border-top: 0;
	margin-top: -5px;
	margin-bottom: 20px;
	padding-bottom:10px;
	float:bottom;
	width:100%;
	
}
.content img {
	width:650px;
	height:500px;
	margin-left: 22%;
	border: 2px solid black;
}
.content p {
	text-align: center;
	font-size: small;
    margin: -4px 12px 8px 18px;
}
.content h1,h2 {
    font-family: helvetica, "Trebuchet MS", sans-serif;
	padding-top:30px;
	text-align: center;
	margin-top:-4px;
    font-weight: normal;
}

.content h2 {
	margin-top: 0;
    margin-bottom: 20px;
	border: 0;
    font-size: x-large;
}

.content h3 {
	padding-top:10px;
    font-family: helvetica, "Trebuchet MS", sans-serif;
	text-align: center;
	margin-top: 30px;
}


.content table {
	font-size: 20px;
	margin:18px;
}
.content table td {
	padding-right:40px;
}

/*Menu CSS*/
.menu {
	background-color: rgba(0, 83, 137, 0.9);
    height: 45px;
}

.menu ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	display: inline-table;
}

.menu ul li {
	float: left;
	height:100%;
	padding:12px 0;
	width:25%;
	text-align:center;
	text-height:center;
}

.menu ul li a {
    font-family: helvetica, "Trebuchet MS", sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	font-size:18px;
}

input[type="radio"] {
    visibility: hidden;
	margin-bottom: 5px;
}

.center {
    text-align: center!important;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

img.partijLogo {
    margin:auto;
	height: 85px;
    width: auto;
    border: 0;
}

h3.borderbottom {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


/*Radio knoppen*/
input[type="radio"]+label {
    display: block;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    background-color: #606167;
    border-radius: 10px;
    color: white;
    width: 20%;
}
input[type="radio"]:checked+label {
    background-color: rgba(0, 83, 137, 1);
}

label {
    font-size: medium;
}

.inline {
    display:inline-block!important;
}


/*Sliders*/
/* Webkit */
.safari input[type="range"],
.chrome input[type="range"],
.opera input[type="range"] {
    -webkit-appearance: none;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    margin-top:10px;
}
.safari input[type="range"]::-webkit-slider-thumb,
.chrome input[type="range"]::-webkit-slider-thumb,
.opera input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Mozilla */

.firefox input[type="range"]::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
.firefox input[type="range"]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Internet Explorer */
.ie input[type="range"]::-ms-fill-lower,
.ie input[type="range"]::-ms-fill-upper {
    background: transparent;
}
.ie input[type="range"]::-ms-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
.ie input[type="range"]::-ms-thumb {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}


/* Verstuur knop */
input[type="submit"] {
    display:block;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(0, 83, 137, 1);
    border-radius: 10px;
    color: white;
    width: 20%;
}

input[type="submit"].beheer  {
    width: 80px!important;
    height: 28px!important;
    border-radius: 5px;
    padding: 2px;
    display: inline!important;
}

input[type="text"].beheer{
    width: 500px;
    border: 1px solid rgba(0, 83, 137, 1);
}

input[type="password"] {
    border: 1px solid rgba(0, 83, 137, 1);
    margin-top: 30px;
    width: 15%;
}

form.nope {
    display: block;
}

.tg  {
    width: 80%;
    border-collapse:collapse;
    border-spacing:0;
    border: 2px solid black;
    margin-left:auto!important;
    margin-right:auto!important;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border: 2px solid;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding: 15px 5px;
    border: 2px solid;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-o9ov{
    font-family:"Trebuchet MS", Helvetica, sans-serif !important;
    color: rgba(18, 19, 103, 1);
    font-size: x-large;
    font-weight: bold;
    vertical-align:middle
}

.divider {
    display: default;
    color: rgba(0, 83, 137, 0.5);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 1px;
}


label {
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
}

.motieGenerator {
    margin-top: 20px;
}

.motieVeld {
    margin-top: 10px;
    width: 50%;
}

.form-style-2{
    max-width: 100%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field{
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 input[type="submit"] {
    display: block!important;

}

.form-style-2 .username-field {
    margin-top: 5px;
    width: 150px;
}

label {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: small;
    text-align: center;
}

.intro {
    margin-bottom: 20px!important;
}